.about_me{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.contato_content .contato_title{
    font-size: 2rem;
    font-weight: 500;
    margin-top: 15vh;
    color: #023E8A;
    text-align: center;
    text-shadow: 0px 3.1778695583343506px 3.1778695583343506px rgba(0, 0, 0, 0.25);
}

.about_me_textbox{
    line-height: 2.5rem;
    padding: 0% 15% 0% 0%;
}

.about_me_title{
    color: #0096C7;
    font-weight: 400;
    line-height: normal;
}

.about_me_subtitle{
    color: #898989;
}

.about_me_rm{
    color: #898989;
    font-style: normal;
    font-weight: 300;
}

.icon_about_me{
    width: 3vw;
    height: 5vh;
    color: #023E8A;
}