/* equipe.module.css */

.aboutMe {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.contatoContent .contatoTitle {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 15vh;
    color: #023E8A;
    text-align: center;
    text-shadow: 0px 3.1778695583343506px 3.1778695583343506px rgba(0, 0, 0, 0.25);
}

.aboutMeTextbox {
    line-height: 2.5rem;
    width: 35%;
}

.aboutMeTitle {
    color: #0096C7;
    font-weight: 400;
    line-height: normal;
}

.aboutMeSubtitle {
    color: #898989;
}

.aboutMeRm {
    color: #898989;
    font-style: normal;
    font-weight: 300;
}

.iconAboutMe {
    width: 3vw;
    height: 5vh;
    color: #023E8A;
}
