footer{
    display: flex;
    justify-content: space-between;
    padding: 0% 15% 2.5% 15%;
    margin-top: 40vh;
}

footer .textbox_footer{
    font-weight: 700;
    color: #0096C7;
}

footer .icons_footer{
    display: flex;
}

footer .icon_footer{
    width: 3vw;
    height: 5vh;
    color: #0096C7;
}