footer{
    display: flex;
    justify-content: space-between;
    padding: 3% 15% 2.5% 15%;
    margin-top: 40vh;
    border-top: 1px solid rgba(0, 0, 0, 0.2); /* Tamanho e opacidade da borda */
}

footer .textbox_footer{
    font-weight: 700;
    color: #0096C7;
}

footer .icons_footer{
    display: flex;
}

footer .icon_footer{
    width: 3vw;
    height: 5vh;
    color: #0096C7;
}